@theme inline {
  --color-bg-brand: var(--bg-brand);
  --color-bg-brand-hover: var(--brand-hover);
}
  
@layer base {
  :root {
    --brand-50: #F4F2FF;
    --brand-100: #ECE8FF;
    --brand-200: #DBD3FF;
    --brand-300: #C1B0FF;
    --brand-400: #A284FF;
    --brand-500: #8652FF;
    --brand-600: #782FF8;
    --brand-700: #6A1DE4;
    --brand-800: #5A18C4;
    --brand-900: #49159D;
    --brand-950: #2B0B6A;

    --bg-brand: var(--brand-700);
    --bg-brand-hover: var(--brand-500);
  }

  .dark {
    --bg-brand: var(--brand-800);
    --bg-brand-hover: var(--brand-600);

  }
}